<md-toolbar color="primary">
  <md-icon class="icon">home</md-icon>
  {{ title }}
</md-toolbar>
<div id="myNav" class="overlay">

  <a md-icon-button (click)="closeNav()" class="closebtn">&times;</a>

  <div class="overlay-content">
    <img src="../images/{{currentTalk}}"/>
  </div>

</div>
<div class="talk-container">
  <md-card *ngFor="let talk of talks">
    <img md-card-image [alt]="talk.title" src="../images/{{talk.image}}Pre.png"/>
    <md-card-title>{{talk.title}}</md-card-title>
    <md-card-content>{{talk.speakers}}</md-card-content>
    <md-card-actions align="end">
      <button md-icon-button (click)="openNav(talk.image + '.png')">
        <md-icon>slideshow</md-icon>
      </button>
      <button md-icon-button (click)="openUrl(talk.video)">
        <md-icon>theaters</md-icon>
      </button>
      <button md-icon-button *ngIf="talk.nerd" title="Tech Recommendation">
        <md-icon>laptop_mac</md-icon>
      </button>
      <button md-icon-button *ngIf="talk.fav" title="Favorite Talk">
        <md-icon>favorite</md-icon>
      </button>
      <button md-icon-button *ngIf="talk.business" title="Business Recommendation">
        <md-icon>business</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</div>
